<!DOCTYPE html>
<html>
  <head>
    <title>Comparison</title>
  </head>
  <body>
    <form action="/compare" method="post">
      <label for="">Please enter potential anagrams</label>
      <input type="text" name="input_word">
      <button type="submit" name="button">Submit</button>
      <a href = "/"><button type="button" name="button">Clear All</button></a>
    </form>
  <h2>These words are anagrams of {{ firstWord.word }}</h2>
  {%for match in matched_words%}
    <p>
      {{match}}
    </p>
  {% endfor %}
  <h2>These are words that have been entered in so far</h2>
    {%for word in allwords%}
    <p>{{word.word}}</p>
    {% endfor%}
  </body>
</html>
