<html>
  <head>
    <meta charset="utf-8">
    <title>Template</title>
  </head>
  <body>
      <form action="/compare" method="post">
        <label for="">Please enter a word to compare</label>
        <input type="text" name="first_word">
        <button type="submit" name="button">Submit</button>
      </form>
  </body>
</html>
